.single-article {
    display: grid;
    justify-items: center;
    line-height: 1.8;
    margin: 2.5rem;
}

.single-title {
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 6rem;
    padding: 0 0.7rem;
    border-bottom: 4px solid var(--primary-color);
    margin-bottom: 2rem;
}

.single-content {
    max-width: 75rem;
    margin-bottom: 6rem;
}

.single-thumbnail {
    width: 100%;
    max-width: 60rem;
}

.single-no-image {
    width: 100%;
    max-width: 25rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.single-article h1 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
}

.single-article h2 {
    font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem);
    border-bottom: var(--primary-color) solid 3px;
    margin:2rem 0;
    position: relative;
}
.single-article h2:before {
    position:relative;
    content: "●";
    margin-right: 1rem;
    color: var(--secondary-color);
}

.single-article p {
    margin-top: 2.5rem;
    font-size: clamp(0.5rem, 2vw + 1rem, 1.25rem);
}

.single-article figure {
    margin-top: 4rem;
    text-align: center;
}

.single-title iframe {
    width: 100%;
    height: 100%;
    display: inline-block;
}